@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Colors */

/*
60% of #49B68E - Primary
30% of #49A7B6 - Secondary
10% of #49B65B - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #315c4c;

/* var(--secondaryColor) !important; */
--secondaryColor: #3b6d74;

/* var(--accentColor) !important; */
--accentColor: #244429;

/* var(--fontFamily) !important; */
--fontFamily: "Oswald", serif;

}